.compare-bike {
  color: black;
  &__bike {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      justify-items: center;
      row-gap: 48px;
    }

    @include on-desktop {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
      justify-items: stretch;
    }
  }
}

.bike {
  &__title {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0;
    margin: 0;
    margin-top: 32px;
  }
  &__category {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    margin: 0;
    margin-top: 8px;
  }
  &__price {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0;
    margin: 0;
    margin-top: 16px;
  }

  @include on-tablet {
    padding-inline: 104px;
  }

  @include on-desktop {
    padding-inline: 0;
  }
}
