.compare-bike {
  color: black;
  &__bike {
    @include page-grid;

    row-gap: 40px;
  }
}

.bike {
  &__photo {
    text-decoration: none;
    &-logo {
      width: 100%;
      transition: 0.3s;
      &:hover {
      transform: scale(1.2);
      z-index: 1;
    }
    }
  }
  &__title {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0;
    margin: 0;
    margin-top: 32px;
  }
  &__category {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    margin: 0;
    margin-top: 8px;
  }
  &__price {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0;
    margin: 0;
    margin-top: 16px;
  }

  &__product {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }
}
