.header {
  display: none !important;
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../img/background-photo.png);
  background-size: cover;
  background-position: 85%;
  flex-direction: column;
  justify-content: space-between;

  &__bottom {
    padding-bottom: 170px;

    @include content-padding-inline;

    @include on-tablet {
      padding-bottom: 200px;
    }
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-style: Bold;
    line-height: 100%;
    font-size: 48px;
    text-align: center;

    @include on-tablet {
      font-size: 64px;
    }
  }
}
