$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$menu-text-color: #1d1d1d;
$hover-menu-text-color: #eee;
$hover-contact-text-color: #c2c2c2;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
